.checkout_banner_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_title {
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout_welcome {
  padding-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  color: gray;
}
